<section class="h-[800px]">
   <div class="bg-star bg-cover bg-no-repeat h-full bg-center bg-[#d4e9e2] ">
       <div class="container h-full mx-auto flex items-center">
           <div class="flex flex-col gap-4">
               
               <span class="text-[34px] font-semibold">FREE COFFEE <br>
                   IS A TAP AWAY
               </span>
   
               <p>Join now to start earning Rewards.</p>
   
               <div class="flex">
                   <button >Join now</button>
               </div>
   
               <span>
                   Or <a href="" class="underline hover:no-underline">join in the app</a> 
                   for the best experience
               </span>
           </div>
       </div>
   </div>
</section>

